<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Birolli</title>



    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../styles/newpage.css">
    <link rel="stylesheet" href="../precss.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">

</head>

<body>

    <a target="_blank" aria-label="Chat on WhatsApp"
        href="https://wa.me/5517988330611?text=Gostaria%20de%20contratar%20a%20Advocacia%20Birolli"> <img
            class="whatsapp_logo" alt="Chat on WhatsApp" src="../assets/images/WhatsAppButtonGreenSmall.png" /> </a>
    <!-- Header -->
    <section id="header">
        <div class="preheader" id="topheader">
            <div class="preheadercontents">
                <a href="/index.html"> <img class="prelogo" src="../assets/images/head/LOGO_SITE.jpg" /> </a>
                
            </div>
        </div>
    </section>

    <!-- Body -->

    <section id="texto">

        <div class="fundo">

            <div class="title">
                <h1 class="title"> DIREITO TRABALHISTA</h1>
            </div>
                <img class="image_title" src="../assets/images/noticia.jpg" alt=""/>
            
            <div class="text-principal">
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
            </div>



        </div>


    </section>

    <section id="footer">
        <div class="prefooter">
            <div class="premargin">
                
            </div>
        </div>

    </section>


</body>

</html>